            <div id="article" class="clear">
                <div id="article-content">
                    <% page.posts.forEach(post => { %>
                    <% if(theme.indexpp == 1){ %> 
                    <a href="<%- url_for(post.path); %>">
                        <div id="article-1" class="article-item hoverup">
                            <div class="article-item-content">
                                <h2><span><%= post.title %></span></h2>
                                <p class="clear"><span id="article-author"><%- config.author %></span>
                                <span id="article-date"><%= date(post.date, config.date_format); %></span></p>
                            </div>
                        </div>
                    </a>
                    <% }else{ %> 
                        <div class="card-item">
                            <article>
                              <div class="card-cover" style="background-image: url(<%= post.cover %>)"></div>
                              <a class="article-link card-link" href="<%- url_for(post.path); %>" itemprop="url"></a>
                              <h2 class="article-title"><%= post.title %></h2>
                              <div class="article-meta">
                                <div class="article-category">
                                  <a class="article-date"><%= date(post.date, config.date_format); %></a>
                                </div>
                              </div>
                            </article>
                          </div>
                        <% } %> 
                    <% }); %>

                </div>
                <div class="page-navigator">
                    <%- paginator() %>
                </div>
                
            </div>
            
