<div id="post">
    <div id="post-header" style="background-image:url(<%- page.cover %>)">
        <div id="post-header-mask">
            <div id="post-header-content">
                <h2 id="post-content-title"><%- page.title %></h2>
                <span id="post-content-meta">
                    <% page.categories.each(function(cate) { %>
                    <a class="hover-with-bg" href="<%= url_for(cate.path) %>"><%- cate.name %></a>
                    <% }) %>
                </span>
            </div>
        </div>
    </div>
    <div id="post-content">
        <div id="post-content-article">
            <%- page.content %>
        </div>
        <div class="page-navigator">
            <% const prev = prev_post(page) %>
            <% if (prev) { %>
            <a href="<%= url_for(prev.path) %>" class="prev_post"><%- prev.title %></a>
            <% } %>

            <% const next = next_post(page) %>
            <% if (next) { %>
            <a href="<%= url_for(next.path) %>" class="next_post"><%- next.title %></a>
            <% } %>
        </div>
    </div>

    <div id="post-footer" class="clear">
        <div id="post-tags">
            <p>
                <% page.tags.each(function(tag) { %>
                <a class="hover-with-bg" href="<%= url_for(tag.path) %>"><%- tag.name %></a>
                <% }) %>
            </p>
        </div>
        <div id="post-lastEdit">
            <p><%- __('zhgx') %> <%- date(page.updated) %></p>
        </div>
    </div>
</div>

<% if (page.comments) { %>
<div id="comments">
        <div id="comment-form">
            <%- partial('_partial/comments') %>
        </div>
</div>
<% } %>

<div id="m_toc" onclick="toc_toggle();">
    <span><a><i class="i m_toc"></i></a></span>
</div>