<!-- footer.ejs -->

<div id="footer">
    <div id="footer-content" class="clear">
        <div id="footer-content-left">
            <p id="footer-time">© <%= config.title %> | <%- __('btext') %><span id="site_runtime"></span></p>
            <nav id="nav-2">
                <% for (var i in theme.pages){ %>
                <a href="<%= theme.pages[i].link %>"><%= i %></a>
                <% } %>
            </nav>
        </div>
        
        <div id="footer-content-right">
            <p> Powered By Hexo </p>
            <p> Theme By G </p>
        </div>


    </div>

    <%- js('JS/X.js') %>
    <%- js('JS/prism.js') %>
    <script src="<%- url_for('/JS/toastr.min.js') %>"></script>

    <script src="<%- url_for('/JS/SmoothScroll.min.js') %>"></script>
    <script>
        window.SmoothScroll({
            stepSize: 40,
            animationTime: 400
        })
    </script>

</div>

<%- partial('_partial/sliderbar') %>

<script>
    collapse_toggle();
    show_site_runtime("<%= theme.buildtime %>");
</script>
</body>

</html>